<div class="row">
  <div class="col-md-4 user-info-show-left">
    <% if @user_info.avatar_file_name.nil? %>
      <%= image_tag "user_pic.jpg", class: "user-photo" %>
    <% else %>
      <%= image_tag @user_info.avatar.url(:medium) %>
    <% end %>
    <h4><%= @user_info.name %></h4>
    <h5><small>电话：</small><%= @user_info.phone %></h5>
    <h5><small>邮箱：</small><%= User.find_by(id: @user_info.user_id).email %></h5>
    <h5><small>创建时间：</small><%= User.find_by(id: @user_info.user_id).created_at %></h5>
    <h5><small>个人签名：</small></h5>
      <p class="text-lowercase">
        <% if @user_info.signature.nil? %>
          暂无个人签名
        <% else %>
          <%= @user_info.signature %>
        <% end %>
      </p>
    <h5><small>个人介绍：</small></h5>
      <p class="text-lowercase">
        <% if @user_info.introduce.nil? %>
          暂无个人介绍
        <% else %>
          <%= @user_info.introduce %>
        <% end %>
      </p>
    <%= link_to '更新信息', edit_user_info_path(@user_info) %>

  </div>
  <div class="col-md-8 user-info-show">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#home" role="tab" data-toggle="tab">发布的办公空间</a></li>
      <li><a href="#profile" role="tab" data-toggle="tab">最近回帖</a></li>
      <li><a href="#messages" role="tab" data-toggle="tab">站内短信</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="home">
        <% unless Space.where(user_id: @user_info.user_id).empty? %>
          <% Space.where(user_id: @user_info.user_id).each do |s| %>
            <%= image_tag s.photos.first.data.url(:thumb) %>
            <%= link_to s.title, space_path(s) %> | <%= link_to '修改', edit_space_path(s) %>
            <hr />
            <!--代码应该有问题，不是current_user-->
          <% end %>
        <% else %>
          <p>无发布房源信息</p>
        <% end %>
      </div>
      <div class="tab-pane" id="profile">
        <% unless Comment.where(user_id: @user_info.user_id).empty? %>
          <% Comment.where(user_id: @user_info.user_id).each do |c| %>
            <%= c.commenter %><hr />
          <% end %>
        <% else %>
          <p>无最近回帖</p>
        <% end %>

      </div>
      <div class="tab-pane" id="messages">
        <% unless Message.where(accept_id: current_user).empty? %>
          <% Message.where(accept_id: current_user).each do |a| %>
            <%= link_to user_info_name(a).name, user_info_path(user_info_name(a).id) %>:<%= a.sms %> <hr />
          <% end %>
        <% else %>
          <p>无短信</p>
        <% end %>
      </div>
    </div>

  </div>
</div>


