<%= render 'layouts/welcome_header' %>

<div class="banner">
  <!-- Carousel
  ================================================== -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->

    <div class="carousel-inner">
      <div class="item active">
        <img src="/assets/s-banner-3.png" alt="Banner">
        <div class="container">
          <div class="carousel-caption">
            <h1>共用的空间</h1>

          </div>
        </div>
      </div>
    </div>
  </div><!-- /.carousel -->
</div>

<div class="container">
  <h2 class="text-center">这里为您提供高效和专注的工作环境</h2>
  <br>
  <p>The Clock

    The night clock will come on automagically after you turn on the alarm, or you can tap the current time. If the alarm isn't on you can tap the current time to get the clock during the day. Slide across screen to get different backgrounds. Slide up and down to adjust clock brightness.

    SleepTunes

    SleepTunes is a main option in settings. Use SleepTunes to make a playlist from your iTunes collection to help you fall asleep. Set a timer for your playlist so it doesn't run all night.

    Troubleshooting

    No Sound With Notifications: Check your iOS settings. Go under Notification Center and make sure Rise is enabled.
    Still No Sound: Check alarm / device volume. If you have the silent switch or Do Not Disturb turned on, then Rise also needs to be on (you can still lock your device).
  </p>

  <div class="main main-list tab-content">
    <div class="row placeholders">
      <% @spaces.each do |space| %>
        <div class="col-md-3">
          <div class="thumbnail">
            <% if space.photos.empty? %>
              <%= image_tag '/assets/list1.jpg', class: 'index-photo' %>
            <% else %>
              <%= image_tag space.photos.first.data.url(:thumb), class: 'index-photo' %>
            <% end %>
            <%#= image_tag '/assets/list1.jpg' %>
            <div class="caption">
              <h5><%= link_to space.title, space %></h5>
              <p><%= space.space_setting.content %> | <%= space.city.content %> <strong class="text-right"><%= space.price_month %>每月</strong></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div> <!-- /container -->


<%= render 'layouts/footer' %>