<!DOCTYPE html>
<html>
<head>
  <title>Speshub2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/welcome_header' %>

  <div class="container">

    <%= yield %>

  </div>

</body>
</html>
